In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\jamal\appdata\local\programs\python\python310\lib\site-packages (1.5.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jamal\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jamal\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\jamal\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.3)
Requirement already satisfied: six>=1.5 in c:\users\jamal\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.2.2 -> 23.1.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd
df = pd.read_csv("sampledata.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xae in position 16: invalid start byte

In [7]:
import pandas as pd

In [8]:
pandas --version

NameError: name 'pandas' is not defined

In [9]:
print(pd.__version__)

1.5.0

In [10]:
df = pd.read_csv("sampledata.csv")

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xae in position 16: invalid start byte

In [11]:
df = pd.read_csv('sampledata.csv')

print(df.to_string())

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xae in position 16: invalid start byte

In [12]:
df = pd.read_csv("addresses.csv")

In [13]:
print(df)

                    John       Doe                 120 jefferson st.  \
0                   Jack  McGinnis                      220 hobo Av.
1          John "Da Man"    Repici                 120 Jefferson St.
2                Stephen     Tyler  7452 Terrace "At the Plaza" road
3                    NaN  Blankman                               NaN
4  Joan "the bone", Anne       Jet               9th, at Terrace plc

     Riverside   NJ   08075
0        Phila   PA    9119
1    Riverside   NJ    8075
2     SomeTown   SD   91234
3     SomeTown   SD     298
4  Desert City   CO     123

In [14]:
df.head(1)

   John       Doe 120 jefferson st. Riverside   NJ   08075
0  Jack  McGinnis      220 hobo Av.     Phila   PA    9119

In [15]:
df.tail(1)

                    John  Doe    120 jefferson st.    Riverside  NJ   08075
4  Joan "the bone", Anne  Jet  9th, at Terrace plc  Desert City  CO     123

In [16]:
df.columns

Index(['John', 'Doe', '120 jefferson st.', 'Riverside', ' NJ', ' 08075'], dtype='object')

In [17]:
df.john

AttributeError: 'DataFrame' object has no attribute 'john'

In [18]:
df.John

0                     Jack
1            John "Da Man"
2                  Stephen
3                      NaN
4    Joan "the bone", Anne
Name: John, dtype: object

In [19]:
df.Doe

0    McGinnis
1      Repici
2       Tyler
3    Blankman
4         Jet
Name: Doe, dtype: object

In [20]:
df[2:4]

      John       Doe                 120 jefferson st. Riverside   NJ   08075
2  Stephen     Tyler  7452 Terrace "At the Plaza" road  SomeTown   SD   91234
3      NaN  Blankman                               NaN  SomeTown   SD     298

In [22]:
df[:]

,John,Doe,120 jefferson st.,Riverside,NJ,08075
0,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
1,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
2,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
3,NaN,Blankman,NaN,SomeTown,SD,298
4,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [23]:
df[['John','Doe']]

                    John       Doe
0                   Jack  McGinnis
1          John "Da Man"    Repici
2                Stephen     Tyler
3                    NaN  Blankman
4  Joan "the bone", Anne       Jet

In [24]:
df.['08075'].max()

SyntaxError: invalid syntax (3090201688.py, line 1)

In [25]:
df.08075.max()

SyntaxError: invalid syntax (1338225583.py, line 1)

In [26]:
df1 = pd.read_csv("username.csv")

In [27]:
print(df1)

  Username; Identifier;First name;Last name
0               booker12;9012;Rachel;Booker
1                    grey07;2070;Laura;Grey
2              johnson81;4081;Craig;Johnson
3               jenkins46;9346;Mary;Jenkins
4                  smith79;5079;Jamie;Smith

In [28]:
df1

  Username; Identifier;First name;Last name
0               booker12;9012;Rachel;Booker
1                    grey07;2070;Laura;Grey
2              johnson81;4081;Craig;Johnson
3               jenkins46;9346;Mary;Jenkins
4                  smith79;5079;Jamie;Smith

In [29]:
df1[1:3]

  Username; Identifier;First name;Last name
1                    grey07;2070;Laura;Grey
2              johnson81;4081;Craig;Johnson

In [30]:
df1[[df1.Identifier>=3000]]

AttributeError: 'DataFrame' object has no attribute 'Identifier'

In [31]:
df1[df1.Identifier>=3000]

AttributeError: 'DataFrame' object has no attribute 'Identifier'

In [32]:
df1.describe()

       Username; Identifier;First name;Last name
count                                          5
unique                                         5
top                  booker12;9012;Rachel;Booker
freq                                           1

## dataframe using python dictionary

In [34]:
Students={
    'name':['jamal','yahas','himanshu'],
    'age':[18,21,18],
    'city':['mumbai','navimumbai','thane']
}
pf2 = pd.read_DataFrame(Students)

AttributeError: module 'pandas' has no attribute 'read_DataFrame'

In [35]:
Students={
    'name':['jamal','yahas','himanshu'],
    'age':[18,21,18],
    'city':['mumbai','navimumbai','thane']
}
pf2 = pd.DataFrame(Students)

In [36]:
pf2

       name  age        city
0     jamal   18      mumbai
1     yahas   21  navimumbai
2  himanshu   18       thane

In [37]:
pf2.name

0       jamal
1       yahas
2    himanshu
Name: name, dtype: object

In [38]:
pf2['name','age']

KeyError: ('name', 'age')