In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [21]:
df = pd.read_csv("titanic.csv")
print(df)

     PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare  \
0              1         0       3    Male  22.0      1      0   7.2500
1              2         1       1  female  38.0      1      0  71.2833
2              3         1       3  female  26.0      0      0   7.9250
3              4         1       1  female  35.0      1      0  53.1000
4              5         0       3    Male  35.0      0      0   8.0500
..           ...       ...     ...     ...   ...    ...    ...      ...
884          887         0       2    Male  27.0      0      0  13.0000
885          888         1       1  female  19.0      0      0  30.0000
886          889         0       3  female  60.0      1      2  23.4500
887          890         1       1    Male  26.0      0      0  30.0000
888          891         0       3    Male  32.0      0      0   7.7500

     Embarked
0           3
1           1
2           3
3           3
4           3
..        ...
884         3
885         3
886         3
887         1
888         2

[889 rows x 9 columns]

In [22]:
df.isna().sum()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
SibSp          0
Parch          0
Fare           0
Embarked       0
dtype: int64

In [23]:
df['Sex'].unique()

array(['Male', 'female'], dtype=object)

In [24]:
df['Sex']=df['Sex'].map({"Male":1,"female":0})
print(df)

     PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0              1         0       3    1  22.0      1      0   7.2500         3
1              2         1       1    0  38.0      1      0  71.2833         1
2              3         1       3    0  26.0      0      0   7.9250         3
3              4         1       1    0  35.0      1      0  53.1000         3
4              5         0       3    1  35.0      0      0   8.0500         3
..           ...       ...     ...  ...   ...    ...    ...      ...       ...
884          887         0       2    1  27.0      0      0  13.0000         3
885          888         1       1    0  19.0      0      0  30.0000         3
886          889         0       3    0  60.0      1      2  23.4500         3
887          890         1       1    1  26.0      0      0  30.0000         1
888          891         0       3    1  32.0      0      0   7.7500         2

[889 rows x 9 columns]